# PLOTLY KÜTÜPHANESİ

2012 yılında kurulmuş bir kütüphanedir.

Plotly, Veri görselleştirme ve dashboard oluşturmaya yarayan çeşitli fonksiyonlar içeren bir kütüphanedir. Bu fonksiyonları kullanarak klasik grafikler yerine interaktif grafikler elde edebiliriz.

Plotly'ın kullanıldığı yerler:

🟡 Python

🟢 R & Shiny

🟣 Matlab

🔵 Javascript

vs. bir çok yerde kullanımı söz konusu.

Plotly kütüphanesinde, Seaborn kütüphanesinden farklı olarak grafik üzerinde gezinirken bulunduğumuz konuma karşılık gelen değeri görebiliyoruz.

<font color="Blue">
Üniversitelerin dünya sıralamalarını ifade eden bir veri seti kullanacağız.
<font color="Blue"><br>    
timesData.csv isimli veri seti içeriğinde bulunan sütunlardan bahsedelim.
<font color="Blue"><br>
world_rank: Dünya sıralaması
<font color="Blue"><br>
university_name: Üniversite ismi
<font color="Blue"><br>
country: Üniversitenin ait olduğu kıta
<font color="Blue"><br>
teaching: Üniversitenin öğretme değeri
<font color="Blue"><br>
international: Uluslararası puanı
<font color="Blue"><br>
research: Araştırma puanı
<font color="Blue"><br>
citations: Alıntı yapma puanı
<font color="Blue"><br>
income: Gelir bilgisi
<font color="Blue"><br>
total_score: Toplam skoru
<font color="Blue"><br>
num_students: Kaç tane öğrenciye sahip olduğu bilgisi
<font color="Blue"><br>
student_staff_ratio: Öğrenci için çalışan oranı
<font color="Blue"><br>
international_students: Uluslararası öğrencilerin oranı
<font color="Blue"><br>
female_male_ratio: Erkek kadın oranı
<font color="Blue"><br>
year: Değerlendirmenin yani sıralamanın yapıldığı yıl bilgisi

Plotly kütüphanesini kullanarak gerçekleştirebileceğimiz plot'lar şunlardır:

<font color="Green"><br>
line plots, scatter plots, area charts, bar charts, error bars, box plots, histograms, heatmaps, subplots, multiple-axes, polar charts ve bubble charts.

Kütüphaneleri import ederek işe başlayalım.

In [1]:
pip install chart_studio

Requirement already satisfied: chart_studio in c:\users\raziy\anaconda3\lib\site-packages (1.1.0)
Requirement already satisfied: plotly in c:\users\raziy\anaconda3\lib\site-packages (from chart_studio) (5.8.2)
Requirement already satisfied: requests in c:\users\raziy\anaconda3\lib\site-packages (from chart_studio) (2.26.0)
Requirement already satisfied: six in c:\users\raziy\anaconda3\lib\site-packages (from chart_studio) (1.16.0)
Requirement already satisfied: retrying>=1.3.3 in c:\users\raziy\anaconda3\lib\site-packages (from chart_studio) (1.3.3)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\raziy\anaconda3\lib\site-packages (from plotly->chart_studio) (8.0.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\raziy\anaconda3\lib\site-packages (from requests->chart_studio) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in c:\users\raziy\anaconda3\lib\site-packages (from requests->chart_studio) (3.2)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\raziy\anaconda3\lib\site-packages (from requests->chart_studio) (1.26.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\raziy\anaconda3\lib\site-packages (from requests->chart_studio) (2.0.4)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install plotly --upgrade

Requirement already satisfied: plotly in c:\users\raziy\anaconda3\lib\site-packages (5.8.2)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\raziy\anaconda3\lib\site-packages (from plotly) (8.0.1)
Note: you may need to restart the kernel to use updated packages.

In [3]:
conda install -c conda-forge wordcloud

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.


Note: you may need to restart the kernel to use updated packages.

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#plotly
#import plotly.plotly as py
#from plotly.offline import init_notebook_mode, iplot 
#init_notebook_mode(connected=True)
import chart_studio.plotly as py
import plotly.graph_objs as go

#word cloud library: Word cloud pyplot kütüphanesine ait değil fakat güzel bir plot olmasından dolayı buda anlatılacaktır.
from wordcloud import WordCloud

Veri setini çağıralım.

In [5]:
timesData = pd.read_csv("timesData.csv")

Şimdi de veri setini inceleyelim.

In [6]:
timesData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2603 entries, 0 to 2602
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   world_rank              2603 non-null   object
 1   university_name         2603 non-null   object
 2   country                 2603 non-null   object
 3   teaching                2603 non-null   float64
 4   international           2603 non-null   object
 5   research                2603 non-null   float64
 6   citations               2603 non-null   float64
 7   income                  2603 non-null   object
 8   total_score             2603 non-null   object
 9   num_students            2544 non-null   object
 10  student_staff_ratio     2544 non-null   float64
 11  international_students  2536 non-null   object
 12  female_male_ratio       2370 non-null   object
 13  year                    2603 non-null   int64
dtypes: float64(4), int64(1), object(9)
memory usage: 284.8+ KB

Bir DataFrame olduğunu ve veri seti içerisinde 2603 tane satır olduğunu görüyoruz. 14 tane feature vardır ve feature'leri görüyoruz. Sütunların 4 tanesi float tipinde, 1 tanesi int tipinde ve 9 tanesi string tipindedir. Toplam hafıza kullanımı 284.8 KB'dir.

Veri seti içeriğine bir göz atalım.

In [7]:
timesData.head(10)

,world_rank,university_name,country,teaching,international,research,citations,income,total_score,num_students,student_staff_ratio,international_students,female_male_ratio,year
0,1,Harvard University,United States of America,99.7,72.4,98.7,98.8,34.5,96.1,"20,152",8.9,25%,NaN,2011
1,2,California Institute of Technology,United States of America,97.7,54.6,98.0,99.9,83.7,96.0,"2,243",6.9,27%,33 : 67,2011
2,3,Massachusetts Institute of Technology,United States of America,97.8,82.3,91.4,99.9,87.5,95.6,"11,074",9.0,33%,37 : 63,2011
3,4,Stanford University,United States of America,98.3,29.5,98.1,99.2,64.3,94.3,"15,596",7.8,22%,42 : 58,2011
4,5,Princeton University,United States of America,90.9,70.3,95.4,99.9,-,94.2,"7,929",8.4,27%,45 : 55,2011
5,6,University of Cambridge,United Kingdom,90.5,77.7,94.1,94.0,57.0,91.2,"18,812",11.8,34%,46 : 54,2011
6,6,University of Oxford,United Kingdom,88.2,77.2,93.9,95.1,73.5,91.2,"19,919",11.6,34%,46 : 54,2011
7,8,"University of California, Berkeley",United States of America,84.2,39.6,99.3,97.8,-,91.1,"36,186",16.4,15%,50 : 50,2011
8,9,Imperial College London,United Kingdom,89.2,90.0,94.5,88.3,92.9,90.6,"15,060",11.7,51%,37 : 63,2011
9,10,Yale University,United States of America,92.1,59.2,89.7,91.5,-,89.5,"11,751",4.4,20%,50 : 50,2011

Çıktıyı yorumlayalım. 2011 yılında yapılan sıralamada Hardvard University 1.sırada yer almakta ve bu değerlendirmede kadın erkek oranı NaN yani kadın erkek oranına dair bir hesap alınmamış.